<div class="page-header">
  <h1>Role #<%= @role.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Character name</dt>
  <dd><%= @role.character_name %></dd>

  <dt>Movie</dt>
  <dd><%= link_to(@role.movie.title, movie_url(@role.movie.id)) %></dd>

  <dt>Actor</dt>
  <dd><%= link_to(@role.actor.name, actor_url(@role.actor.id)) %></dd>

</dl>
